<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>526843862185-sjvc8cmo9teajn2um4tl4eq93kep3mq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.526843862185-sjvc8cmo9teajn2um4tl4eq93kep3mq9</string>
	<key>API_KEY</key>
	<string>AIzaSyAoU2m8Dt5NM7RhQ4tQR0NaY12QgH7ery4</string>
	<key>GCM_SENDER_ID</key>
	<string>526843862185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KK.Instagram-FIR</string>
	<key>PROJECT_ID</key>
	<string>instagram-fir</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-fir.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526843862185:ios:92bb3b2d81b6f9ac</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-fir.firebaseio.com</string>
</dict>
</plist>